* { -webkit-box-sizing: border-box; moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 1em; }

h1 { text-align: center; }
h2 { position: absolute; right: 0; top: 0; padding: 0 10px; color: gray; }

ul { list-style: none; font-size: .75em;  color: gray; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; margin: 0; }
.shaded { color: lightgray; }

canvas { position: absolute; top: 0; left: 0; }
